.nav{
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%,-50%);

}
#main-text{
    font-size: 60px;
    margin-left: -10px;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: .5px #fff;
    background-image: url(https://i.pinimg.com/originals/11/cd/65/11cd656918c19f1d38b206732d710f27.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 80s linear infinite;

}
@keyframes back{
    100%{
        background-position: 2000px 0; 
    }
}



.bubbles{
    width:92%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    
}

.bubbles img{
    width: 50px;
    animation: bubbles 7s linear infinite;
}

@keyframes bubbles{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        
        opacity: .7;
    }
    70%{
        
        opacity: .9;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2){
    animation-delay: .5s;
}
.bubbles img:nth-child(3){
    animation-delay: 3.5s;
    width: 38px;
}
.bubbles img:nth-child(4){
    animation-delay: 0s;
}
.bubbles img:nth-child(5){
    animation-delay: 2.7s;
    width: 20px;
}
.bubbles img:nth-child(6){
    animation-delay: 5.2s;
    width: 35px;
}
.bubbles img:nth-child(7){
    animation-delay: .2s;
    width: 12px;
}

section{
    min-height: 100vh;
    width: 100%;
    
}


.card{
    border: 2px solid rgb(83, 82, 82);
    cursor: pointer;
    
}
.card:hover{
    box-shadow: 0 7px 7px gray;
    border: 2px solid red;
}
#dropdown{
    border: 2px solid red;
    text-transform: uppercase;
    color: rgb(255, 244, 244);
}
#dropdown:hover{
   background-color: red;
   opacity: 70%;
   border: none;
   border: 2px solid transparent;
   
    
}
