#footer {
    width: 100%;
    height: 45px;
    background-color: #34495e;
    border: none;
    position: fixed;
    top: 97%;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .offcanvas-body{
    background-image: linear-gradient(to right,#1a5a9a,#123559,#000911);
    color: white;
  }
  